# Byte-compiled / cache
__pycache__/
*.py[cod]
*.joblib

# Python envs
.venv/
env/
venv/

# VS Code
.vscode/

# OS
.DS_Store

# Node modules
frontend/node_modules/

# Build output
frontend/.next/
frontend/out/

# Log files
*.log
